.skeleton-card{
background:white;
border-radius:16px;
padding:20px;
}

.skeleton-img{
height:200px;
border-radius:10px;
background:#eee;
animation:loading 1.5s infinite;
}

.skeleton-text{
height:18px;
margin-top:15px;
background:#eee;
border-radius:6px;
animation:loading 1.5s infinite;
}

.skeleton-text.small{
width:60%;
}

@keyframes loading{
0%{opacity:0.5}
50%{opacity:1}
100%{opacity:0.5}
}